.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff
}

.form-elem {
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  margin: 5px;
  text-align: center;
}

.rgb {
  text-align: center;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}